<div class="recipe-container">
  <h2>Our Recipe Book!</h2>
  <ul class="mt-5">
    <li *ngFor="let recipe of recipes" class="recipe">
      <div class="card recipe-card" style="width: 24rem">
        <img src="{{ recipe.image }}" class="card-img-top" alt="apple" />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
        <p class="card-body"><b>Steps:</b></p>
          <ul class="steps-container">
            <li *ngFor="let step of recipe.steps">
              <p class="step">{{ step.step }}</p>
              <br />
            </li>
          </ul>
        <a
          [routerLink]="['/recipe', recipe.id]"
          class="btn btn-primary view-btn"
          >View Ingredients</a
        >
      </div>
    </li>
  </ul>
</div>
